/************************************************/
/************************************************/
/*********************  BODY  ****************/
/************************************************/
/************************************************/

body {
    background-color: #b0e2b2;
    margin: auto;
    width: 800px;

}


