body {

    margin: 0; /*place les éléments à 0px càd sans marge d'espace */

}

header {

    overflow: auto;
}

a {

    color: #123;
    text-decoration: none;
}

nav {

    float: right;
    margin-right: 15px;

}

/*nav ul {

    margin: 0;
}*/

nav li {

    display: inline-block; /* rend les éléments Homepage, Liste étu et administration horizontal */
    margin-right: 10px;
}



.logo {

    width: 200px;
    height: 50px;
    overflow: hidden;
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.col-moitie {

    width: 50%;
    float: left;
    
}

.sqaure {

    width: : 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 100px;
}